:root {
    --primary-blue: #2a91ff;
    --secondary-blue: #64afff;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

th,
td {
    padding-left: 5px;
    margin-bottom: 3px;
}

td>a {
    margin: 0 2px;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(158deg, rgba(2, 0, 36, 1) 0%, rgba(93, 9, 121, 1) 32%, rgba(46, 112, 189, 1) 74%, rgba(0, 212, 255, 1) 100%);
}

.btn,
.btn-close,
.btn-submit {
    background-color: hsl(210, 17%, 98%);
    color: #343a40;
    border: 1px solid #343a40;
    text-align: center;
    border-radius: 7px;
    padding: 1px 4px 2px 4px;
    transition: 100ms linear;
}

.btn:hover {
    background-color: #343a40;
    color: hsl(210, 17%, 98%);
}

.btn-close:hover {
    background-color: #ff8080;
}

.btn-submit:hover {
    background-color: rgb(164, 255, 164);
}

.shadow-centered {
    box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.75);
}

input[id="username"],
input[type="password"] {
    width: 100%;
    height: 2rem;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #343a40;
    border-radius: 6px;
}

dialog {
    animation: fade-out 0.5s ease-out;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 0.5s ease-out forwards;
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 25%);
    }
}